<div class="cubespinner animated fadeIn" padding-bottom padding-top margin-top margin-bottom>
  <div class="face1 div-with-text ">
    <img src="assets/img/logo.png ">
  </div>
  <div class="face2 div-with-text ">
    {{ applicationTitle }}
  </div>
  <div class="face3 div-with-text "> {{ keyApplicationIntro }}</div>
  <div class="face4">
    <div *ngIf=" keyFlag && keyFlag!=='' && serverUrl && serverUrl !==''">
      <img src="{{ serverUrl+ '/dhis-web-commons/flags/'+keyFlag+ '.png'}}" alt="The flag from the server ">
    </div>
  </div>
  <div class="face5 div-with-text "> {{ keyApplicationNotification }}</div>
  <div class="face6 div-with-text "> {{ keyApplicationFooter }}</div>
</div>
