// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.logo {
  padding-top: 5%;
  max-width: 15%;
  margin: auto;
}

.topSLogan {
  margin-top: 0%;
  text-align: center;
  margin-bottom: 0%;
}

.login {
  background-color: #1d5288;
}

.topSLogan p {
  color: #82b1ff;
  text-align: center;
  font-style: italic;
}

.bottomSLogan {
  text-align: center;
  margin-bottom: 2%;
  margin-top: 0px;
}

.bottomSLogan p {
  margin: 0px;
}

.bottom-sLogan-title {
  font-style: italic;
  color: #ffffff;
  text-transform: lowercase;
  font-size: 0.8rem;
}

//button for ios
.button-ios,
.button-md {
  margin: 0em;
  padding: 0em
}
